body {
  text-align: center;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-top: 190px;
  margin-left: 200px;
  width: 450px;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

/* Sections */

.blue-section {
  margin-top: 140px;
  padding: 100px;
}

/* Navigation Bar */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

 #footers {
   background-color: #5596db;
   height: 100px;

 }

.card {
  border-radius: 10px;
}

.hero {
  background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
  font-family: "Ubuntu";
}
.download-1 {
  margin-left: 200px;
}

/* Title Section */

#title {
  text-align: left;
}

#title.container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 46%;
  right: 23%;
  margin-left: 100px;
  margin-top: 60px;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  margin-top: 60px;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#new-generation {
  background-image: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

}

/* Testimonial Section */

#testimonials {
  background-color: #5596db;
  
}

.prev_and_next {
  padding: 50px;
}

.carousel-item2 {
  margin-top: 50px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Montserrat";
}

.testimonial-image {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #5596db;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    transform: rotate(0);
  }
}

/* #007bff */

